#card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}




.card {
  width: 27%;
  background-color: white;
  padding: 1rem;
  border: 1px solid $darkBlue;
  box-shadow: 5px 5px 10px $darkBlue;
}

.card-interest-list {
  & li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & button {
      padding: .2rem .5rem;
    }

  }

  &:first-child {
    padding-left: .8rem;
  }

}