#card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}




.card {
  width: 85%;
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid $darkBlue;
  box-shadow: 5px 5px 10px $darkBlue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;


  &-buttonContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    justify-self: end;
  }
}

.card-interest-list {
  list-style: none;

  & li {

    margin: 1rem;

    & button {
      padding: .2rem .5rem;
    }

  }

  &:first-child {
    padding-left: .8rem;
  }

}

.card-interest-name {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}