.main-header {
  position: sticky;
  width: 100vw;
  height: 40px;
  background-color: $darkBlue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $mainWhite;



  &__heading {

    font-size: 1.4rem;
    letter-spacing: 2px;
    padding: 0 2rem;
  }



  &__link-container {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 100%;
    cursor: pointer;

    &:hover {
      background-color: $mainWhite;
      color: $darkBlue;
    }

    & p {
      font-size: 1.2rem;
    }
  }



}